@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*  {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	color: whitesmoke;
}
body {
	background: linear-gradient(135deg, hsl(235, 92%, 5%), hsl(326, 92%, 5%));
	/* background: conic-gradient(from 147.14deg at 50% 50%,hsl(205, 97%, 5%) -55.68deg,hsl(354, 97%, 5%) 113.23deg,hsl(266, 97%, 5%) 195deg,hsl(205, 97%, 5%) 304.32deg,hsl(354, 97%, 5%) 473.23deg); */
	min-height: 100vh;
}
h6 {
	color: hsl(0, 0%, 90%);
	font-weight: 400;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}
a[icon] {
	color: #000 !important;
}
a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea, #select {
	background-color: hsla(0, 0%, 100%, .1);
	color: whitesmoke;
	transition: 200ms;
}
/* input, select, textarea {
	backdrop-filter: blur(1rem);
} */

select:focus, textarea:focus {
	outline: none;
	border: 1px solid hsla(0, 0%, 100%, 1);
}

option {
	color: black !important;
}

input:disabled {
	color: #ccc;
}

.m-auto {
	margin: auto;
}

.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 4rem;
}
.p-4 {
	padding: 8rem;
}
.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 4rem 0;
}
.py-4 {
	padding: 8rem 0;
}
.w-full {
	width: 100%;
}
.text-center {
	text-align: center;
}
button {
	outline: none;
	border: none;
	padding: 1rem;
	text-transform: uppercase;
	color: black !important;
}
i {
	font-size: 1.25rem;
}
#github-icon {
	font-size: 1.25rem;
	padding: .25rem;
}

.rounded {
	border-radius: 5px;
}

textarea {
	min-height: 175px;
	padding: .75rem;
}
select {
	padding: .75rem;
}
p {
	font-weight: 200;
}
button.engine {
	font-size: .8rem;
	font-weight: 600;
	position: relative;
	background-color: hsla(0, 0%, 100%, .8);
	transition: 300ms;
	width: 100% !important;
	cursor: pointer;
	margin: 1rem auto;
}
button.engine:not(:disabled):hover {
	background-color: hsla(0, 0%, 100%, 1);
}
button.engine:focus {
	background-color: hsla(0, 0%, 100%, 1);
}
button.engine::before {
	content: "";
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 5px;
    right: 5px;
    z-index: -1;
    opacity: .6;
    filter: blur(20px);
    border-radius: 6px;
	transition: 200ms;
    background: conic-gradient(from 147.14deg at 50% 50%,#0294fe -55.68deg,#ff2136 113.23deg,#9b4dff 195deg,#0294fe 304.32deg,#ff2136 473.23deg);
}
textarea.engine{
	transition: 200ms;
	border: 2px solid hsla(0, 0%, 100%, 1);
}

button.fade-animate::before {
	animation: fade 2s infinite ease-in-out;
}
button:disabled {
	cursor: not-allowed;
}
@keyframes fade {
	0% { opacity: .1; }
	50% { opacity: 1; }
	100% { opacity: .1; }
}

button.error {
	background: linear-gradient(135deg, hsl(305, 88%, 55%),hsl(0, 88%, 55%), hsl(330, 100%, 50%));
	color: white !important;
}